
  .container{
    background: #FFFFFF padding-box;
    border-radius: 10px;
    margin-top: 1em;
  }
  label{
  
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #5E5E5E;
    margin-top: 0.6em;
  }
  
  img{
      width: 100px;
      margin-top: 2em;
      margin-bottom: 2em;
      margin-left: 6.5em;
  }
  input[type=file]::file-selector-button {
    display: none;
  }
  input[type=file] {
    width: 150px;
    overflow: hidden;
  }
  .error-message{
    color: rgba(216, 38, 38, 0.801);
    font-size: 12px;
    margin-left: 1.5em;
    margin-top: -4px;
    margin-bottom: -4px;
  }