
input[type=text], select {
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 8px;
    outline: none;
    width: 220px;
  }
  
  
label{
  
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #5E5E5E;
  margin-top: 0.6em;
    
}
.error-message{
  color: rgba(216, 38, 38, 0.801);
  font-size: 12px;
  margin-left: 1.5em;
  margin-top: -4px;
  margin-bottom: -4px;
}