<div class="container" fxLayout="column wrap" fxLayoutGap="20px" >
    <div fxFlex="2.9em">
        <app-search-box></app-search-box>
    </div>
    <div fxFlex fxLayout="row wrap" class="middle" >
        <div class="title" fxFlex   fxLayoutAlign="none center">
            My Recipes
        </div>
        <button  mat-stroked-button routerLink="/add-recipe" routerLinkActive="active">
            <mat-icon>
                <svg-icon  src="assets/icons/dough-making.svg" [svgStyle]="{'width.px':22,'height.px':22,'fill':'rgb(255,255,255)','margin.px':1}"></svg-icon>
            </mat-icon>
           Add Recipe
        </button> 
    </div>
     <div >
        <app-recipe-cards [recipes]="recipes"
                        [recipeOwner]="true">
        </app-recipe-cards>
    </div>
</div>