<div class="container" fxLayout="column wrap" fxLayoutGap="20px" >
    <div fxFlex fxLayout="row wrap" class="middle" >
        <div class="title" fxFlex   fxLayoutAlign="none center">
            My Recipes
        </div>
        <button  mat-stroked-button routerLink="/add-recipe" routerLinkActive="active">
            <mat-icon style="margin-top: -17px;">
                <svg-icon  src="assets/icons/dough-making.svg"></svg-icon>
            </mat-icon>
           Add Recipeee
        </button> 
    </div>
     <div >
        <app-recipe-cards [recipes]="recipes"
                        [recipeOwner]="true">
        </app-recipe-cards>
    </div>
</div>