<label>Directions</label>
<form [formGroup]="directionsForm" class="wrap-description">
    <div formArrayName="directions">
        <div *ngFor="let dir of directions.controls; let i=index" class="row">
            <div [formGroupName]="i">
                 <div fxFlex="15%" class="description-numbers">
                    <p>{{i+1}}</p>
                </div>
                <div fxFlex style=" margin-left:-3% ;">
                    <textarea  formControlName="direction" (click)="createComponent(i)"></textarea>
                </div>
                <p style="padding-top: 0.3em;" (click)="removeSkill(i)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#5E5E5E" class="bi bi-x" 
                            viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z">
                            </path>
                        </svg>
                    </p>
            </div>
        </div>
    </div>
</form>